/*===Global===*/
body {
    margin:0;
}

/*Typografy*/
header a {
    text-decoration:none;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

.hero h1 {
    font-size:48px;
    color:#F9FAF8   
}

header a,
.hero p {
    font-size:18px;
    color:#E5E7EB;
}

.hero button {
    background-color:#3882F6;
    color:#E5E7EB;
    border-radius:5px;
    padding:5px 10px;
}

/*Structure*/

header, 
.hero {
    background-color:#1F2937;
    display:flex;
    padding:0 300px 50px 300px;
}

header {
    justify-content:space-between;
    align-items:center;
}

header ul {
    list-style:none;
    display:flex;
    align-items:center;
    gap:10px;
}

.hero {
    gap:20px;
}

.hero-content {
    max-width:500px;
}