/*===Global===*/
body {
    margin:0;
}

/*Typografy*/
header a {
    text-decoration:none;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

.hero h1 {
    font-size:48px;
    color:#F9FAF8   
}

header a,
.hero p {
    font-size:18px;
    color:#E5E7EB;
}

.hero button {
    background-color:#3882F6;
    color:#E5E7EB;
    border-radius:5px;
    padding:5px 10px;
}

blockquote {
    font-size:36px;
    font-style:italic;
    color:#1F2937;
}

figcaption {
    font-weight:bold;
    text-align:right;
}

/*Structure*/

header, 
.hero {
    background-color:#1F2937;
    display:flex;
    padding:0 300px 50px 300px;
}

header {
    justify-content:space-between;
    align-items:center;
}

header ul {
    list-style:none;
    display:flex;
    align-items:center;
    gap:10px;
}

.hero {
    gap:20px;
}

.hero-content {
    max-width:500px;
}

.random-container {
    padding: 0 300px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.information-containers {
    display:flex;
    justify-content: space-between;
    gap:20px;
}

.container {
    width:150px;
}

.image-border {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.quote-container {
    background-color:#E5E7EB;
    padding: 25px;
    display:flex;
    justify-content:center;
}

.quote {
    max-width:850px;
}